@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 100%;
  padding: 31px 5% 0 5%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header img {
  width: 245px;
  height: 43px;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.links a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #4B5563;
  white-space: nowrap;
}
.links button {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  background-color: #16A34A;
  border: none;
  border-radius: 6px;
  padding: 18px 30px;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}
.links button:hover {
  background-color: #21C05C;
}

hr {
  width: 90%;
  margin: 15px auto 0;
  border: none;
  border-top: 1px solid #E5E7EB;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 80px 5%;
  padding-bottom: 0;
  min-height: 424px;
}
.container .container-intro {
  max-width: 600px;
}
.container .container-intro h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #1F2937;
  width: 130%;
  line-height: 130%;
  margin-bottom: 15px;
}
.container .container-intro p {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  width: 110%;
  color: #4B5563;
}
.container .reciclar {
  width: 410px;
  height: auto;
  max-width: 100%;
}

.bt-doar-adquirir {
  display: flex;
  gap: 43px;
  justify-content: start;
  margin: 0 auto 137px;
  width: 100%;
  padding: 0 5%;
  flex-wrap: wrap;
}

.bt-doar, .bt-adquirir {
  width: 189px;
  height: 62px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: all 0.3s ease;
}
.bt-doar span, .bt-adquirir span {
  text-align: center;
}

.bt-doar {
  background-color: #16A34A;
  border: none;
  color: #FFFFFF;
}
.bt-doar:hover {
  background-color: #21C05C;
}

.bt-adquirir {
  background-color: #FFFFFF;
  border: 1px solid #2563EB;
  color: #2563EB;
}
.bt-adquirir:hover {
  background-color: #EFF6FF;
}

.container-dados {
  width: 100%;
  background-color: #F3F5F8;
  padding: 46px 5%;
}

.container-dados-info {
  width: 100%;
  height: 93px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.container-dados-info-caixa-1,
.container-dados-info-caixa-2,
.container-dados-info-caixa-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 165px;
}
.container-dados-info-caixa-1 h2,
.container-dados-info-caixa-2 h2,
.container-dados-info-caixa-3 h2 {
  color: #16A34A;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
}
.container-dados-info-caixa-1 p,
.container-dados-info-caixa-2 p,
.container-dados-info-caixa-3 p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #4B5563;
  max-width: 200px;
}

.desenv-como {
  margin: 110px 750px 22px 94px;
  width: 100%;
  height: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #1F2937;
}

.desenv-como-2 {
  width: 646px;
  height: 38px;
  margin: 0 442px 0 94px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #1F2937;
}

.container-info-como {
  width: 100%;
  margin: 94px 0 115px 0;
  padding: 0 9%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.container-info-como .container-info-como-doadores {
  margin: 0 22px 0 88.56px;
  border-radius: 8px;
  width: 491px;
  height: 481px;
  background-color: #F3F5F8;
}
.container-info-como .container-info-como-adquirir {
  margin-right: 89.44px;
  border-radius: 8px;
  width: 491px;
  height: 481px;
  background-color: #F3F5F8;
}

.container-info-como-doadores-titulo {
  width: 236.58px;
  height: 53.58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 224.98px 28.42px 29.44px;
}
.container-info-como-doadores-titulo img {
  width: 53.58px;
  height: 53.58px;
}
.container-info-como-doadores-titulo h3 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #16A34A;
}

.container-info-como-doadores-texto {
  width: 430px;
  height: 24px;
  margin: 0 31.56px 0 29.44px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container-info-como-doadores-passo1 {
  display: flex;
  width: 401px;
  height: 48px;
  margin: 36px 61px 45px 29px;
  font-family: "Poppins", sans-serif;
}
.container-info-como-doadores-passo1 img {
  width: 32px;
  height: 32px;
  justify-content: flex-start;
  margin: 0 12px 16px 0;
}
.container-info-como-doadores-passo1 .titulo-passo-info {
  width: 296px;
  height: 24px;
  font-weight: bold;
  color: black;
  font-size: 16px;
}
.container-info-como-doadores-passo1 .texto-passo-info {
  width: 357px;
  height: 24px;
  font-size: 16px;
}

.container-info-como-doadores-passo2 {
  display: flex;
  width: 401px;
  height: 48px;
  margin: 45px 48px 45px 29px;
  font-family: "Poppins", sans-serif;
}
.container-info-como-doadores-passo2 img {
  width: 32px;
  height: 32px;
  justify-content: flex-start;
  margin: 0 12px 16px 0;
}
.container-info-como-doadores-passo2 .titulo-passo-info {
  width: 296px;
  height: 24px;
  font-weight: bold;
  color: black;
  font-size: 16px;
}
.container-info-como-doadores-passo2 .texto-passo-info {
  width: 357px;
  height: 24px;
  font-size: 16px;
}

.container-info-como-doadores-passo3 {
  display: flex;
  width: 401px;
  height: 48px;
  margin: 45px 61px 65px 29px;
  font-family: "Poppins", sans-serif;
}
.container-info-como-doadores-passo3 img {
  width: 32px;
  height: 32px;
  justify-content: flex-start;
  margin: 0 12px 16px 0;
}
.container-info-como-doadores-passo3 .titulo-passo-info {
  width: 296px;
  height: 24px;
  font-weight: bold;
  color: black;
  font-size: 16px;
}
.container-info-como-doadores-passo3 .texto-passo-info {
  width: 357px;
  height: 24px;
  font-size: 16px;
}

.container-info-como-adiquirintes-titulo {
  width: 264.58px;
  height: 53.58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 224.98px 28.42px 29.44px;
}
.container-info-como-adiquirintes-titulo img {
  width: 53.58px;
  height: 53.58px;
}
.container-info-como-adiquirintes-titulo h3 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #2563EB;
}

.container-info-como-adiquirintes-texto {
  width: 430px;
  height: 24px;
  margin: 0 31.56px 0 29.44px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container-info-como-adiquirintes-passo1 {
  display: flex;
  width: 401px;
  height: 48px;
  margin: 36px 61px 45px 29px;
  font-family: "Poppins", sans-serif;
}
.container-info-como-adiquirintes-passo1 img {
  width: 32px;
  height: 32px;
  justify-content: flex-start;
  margin: 0 12px 16px 0;
}
.container-info-como-adiquirintes-passo1 .titulo-passo-info {
  width: 296px;
  height: 24px;
  font-weight: bold;
  color: black;
  font-size: 16px;
}
.container-info-como-adiquirintes-passo1 .texto-passo-info {
  width: 357px;
  height: 24px;
  font-size: 16px;
}

.container-info-como-adiquirintes-passo2 {
  display: flex;
  width: 401px;
  height: 48px;
  margin: 45px 48px 45px 29px;
  font-family: "Poppins", sans-serif;
}
.container-info-como-adiquirintes-passo2 img {
  width: 32px;
  height: 32px;
  justify-content: flex-start;
  margin: 0 12px 16px 0;
}
.container-info-como-adiquirintes-passo2 .titulo-passo-info {
  width: 296px;
  height: 24px;
  font-weight: bold;
  color: black;
  font-size: 16px;
}
.container-info-como-adiquirintes-passo2 .texto-passo-info {
  width: 357px;
  height: 24px;
  font-size: 16px;
}

.container-info-como-adiquirintes-passo3 {
  display: flex;
  width: 401px;
  height: 48px;
  margin: 45px 61px 65px 29px;
  font-family: "Poppins", sans-serif;
}
.container-info-como-adiquirintes-passo3 img {
  width: 32px;
  height: 32px;
  justify-content: flex-start;
  margin: 0 12px 16px 0;
}
.container-info-como-adiquirintes-passo3 .titulo-passo-info {
  width: 296px;
  height: 24px;
  font-weight: bold;
  color: black;
  font-size: 16px;
}
.container-info-como-adiquirintes-passo3 .texto-passo-info {
  width: 357px;
  height: 24px;
  font-size: 16px;
}

.container-produtos {
  width: 100%;
  background-color: #F3F5F8;
  padding: 50px 5%;
}
.container-produtos h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 17px;
  width: 100%;
}
.container-produtos h3 {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 72px;
  color: #4B5563;
  width: 100%;
}

.container-produtos-exibicao {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.container-produtos-exibicao-produto {
  border: 2px solid #16A34A;
  border-radius: 8px;
  width: 100%;
  max-width: 299px;
  background-color: #FFFFFF;
  padding: 0;
  text-align: center;
}
.container-produtos-exibicao-produto img {
  width: 295px;
  height: auto;
  margin: 0 auto;
}
.container-produtos-exibicao-produto h4 {
  font-size: 20px;
  margin: 15px 0 10px;
}
.container-produtos-exibicao-produto p {
  width: 100%;
  font-size: 16px;
  margin: 0 auto 21px;
  max-width: 268px;
}
.container-produtos-exibicao-produto button {
  width: 150px;
  height: 37px;
  border-radius: 6px;
  margin-bottom: 20px;
  border: 1px solid #21C05C;
  background-color: #16A34A;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  cursor: pointer;
}
.container-produtos-exibicao-produto button:hover {
  background-color: #21C05C;
}

.depoimentos-section {
  width: 100%;
  padding: 50px 5%;
  padding-bottom: 70px;
}
.depoimentos-section h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 17px;
  width: 100%;
}
.depoimentos-section h3 {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 72px;
  color: #4B5563;
  width: 100%;
}

.depoimentos-grid {
  display: flex;
  justify-content: space-around;
}

.depoimento-card {
  width: 338px;
  height: 300px;
  padding: 20px;
  border: 2px solid #6B7280;
  border-left-width: 4px;
  border-radius: 8px;
}
.depoimento-card #estrelas {
  margin-bottom: 10px;
}
.depoimento-card p {
  display: flex;
  text-align: start;
  width: 260px;
  height: 120px;
  font-size: 16px;
}
.depoimento-card .depoimento-autor {
  display: flex;
}
.depoimento-card .depoimento-autor #icone-user {
  width: 40px;
  height: 40px;
  margin: 30px 5px 40px 0;
  justify-content: flex-start;
}
.depoimento-card .depoimento-autor-nome {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 5px;
}
.depoimento-card .depoimento-autor-nome h4 {
  font-size: 16px;
  font-weight: 600;
}
.depoimento-card .depoimento-autor-nome p {
  font-size: 14px;
  color: #6B7280;
}

.convite-section {
  width: 100%;
  background-color: #F3F5F8;
  padding: 50px 5%;
}
.convite-section h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 17px;
  width: 100%;
}
.convite-section h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
  color: #000000;
  width: 100%;
}

.container-convite-botoes {
  display: flex;
  justify-content: center;
}
.container-convite-botoes #start-bt, .container-convite-botoes #about-bt {
  justify-content: start;
  margin: 20px;
  width: 100%;
}
.container-convite-botoes #start-bt, .container-convite-botoes #about-bt {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: all 0.3s ease;
}
.container-convite-botoes #start-bt span, .container-convite-botoes #about-bt span {
  text-align: center;
}
.container-convite-botoes #start-bt {
  background-color: #16A34A;
  border: none;
  color: #FFFFFF;
  width: 189px;
  height: 44px;
  padding: 10px 30px;
}
.container-convite-botoes #start-bt:hover {
  background-color: #21C05C;
}
.container-convite-botoes #about-bt {
  background-color: #FFFFFF;
  border: 1px solid #16A34A;
  color: #16A34A;
  width: 157px;
}
.container-convite-botoes #about-bt:hover {
  background-color: #F3F5F8;
}

footer {
  background-color: #1F2937;
  padding: 50px 25px;
  color: #9CA3AF;
}
footer .divisor {
  width: 97%;
  margin: 15px auto 0;
}
footer .encerramento {
  text-align: center;
  margin: 20px;
}

.container-rodape {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  color: #9CA3AF;
}
.container-rodape div {
  width: 20%;
  height: 80%;
}
.container-rodape div img {
  margin-bottom: 15px;
}
.container-rodape div p {
  width: 229px;
  height: 72px;
}
.container-rodape h6 {
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 15px;
}
.container-rodape a {
  display: block;
  text-decoration: none;
  flex-direction: column;
  color: #9CA3AF;
  padding: 5px 0;
}
.container-rodape .redes-sociais-icones {
  display: flex;
  gap: 10px;
  margin-bottom: 71px;
}/*# sourceMappingURL=style.css.map */